    @*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<html>
<head>
    <Title>
        Account Details
    </Title>
    <script type="text/javascript" src="~/Areas/Timeline/timeline/bootstrap.js"> </script>
    <link href="~/Areas/Timeline/timeline/bootstrap.css " rel="stylesheet" />
    <style>
        body {
        font-family: Verdana !important;
        font-size: 10pt;
    }
    #load {
        padding: 8px 12px;
        border-radius: 12px !important;
        background-color: #008CBA !important;
        color: white;
    }

    .keyText {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        padding: 8px 10px;
    }
    </style>
    <script type="text/javascript">
   function Load()
   {
       alert("hi");
        var name = $("#name").val();
        $.getJSON("@Url.Action("GetData")", { name: name }, function (data) {
            if(data.length != null && data.length != 0)
            {
                $("#detailsSum").append('<tr> <td valign="bottom">Number</td> <td valign="bottom">Name</td><td valign="bottom">Balance</td></tr>');
                $.each(data, function (i, item) {

                    $("#detailsSum").append('<tr><td valign="bottom">' + item.Name + '</td><td valign="bottom">' + item.Number + '</td> <td valign="bottom">' + item.Balance + '</td></tr>');

                });
                
            }
        });


    }
    </script>
</head>
<body>
    <div style="padding-left:10px;">
        <h1 id="Head">Account Info</h1>
        <div>
            <table cellpadding="3" style="display: inline;">
                <tr>
                    <td valign="bottom"><label for="Accounts">Account Name:</label></td>
                    <td valign="bottom"><input type="text" class="keyText" id="name" value=" " /></td>
                    <td valign="bottom"><input id="load" type="button" value="Get Details" onclick="Load()" /></td>
                </tr>
                <tr></tr>

            </table>
            <table id="detailsSum"></table>
        </div>
    </div>
</body>
</html>

